{% extends "base.html" %}
{% block content %}
<h2>Asignaciones de Prácticas</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Docente</th>
            <th>Escenario</th>
            <th>Rotación</th>
            <th>Horario</th>
            <th>Fechas</th>
        </tr>
    </thead>
    <tbody>
        {% for a in asignaciones %}
        <tr>
            <td>{{ a['estudiante'] }}</td>
            <td>{{ a['docente'] }}</td>
            <td>{{ a['escenario'] }}</td>
            <td>{{ a['rotacion'] }}</td>
            <td>{{ a['horario'] }}</td>
            <td>{{ a['fecha_inicio'] }} - {{ a['fecha_fin'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}